domain: 
  offset: [3.8, 0.0, 3.8]
  size:   [32.4, 32.4, 32.4]
  mode:   [ {{MODE}}, {{MODE}}, {{MODE}}  ]  
topography: !Analytic  
  coordinates: ["Z","X"]
  top: true
  perturbation: !ConstantMap
    map: 
      y: 0
  split:
    coordinates: ["Z","Y"]
    position: 20.0
    perturbation: !ConstantMap
      map:
        x: 0.0
